<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%AA%A8%EB%8D%B8%EB%A7%81/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_3%ED%9A%8C_%EC%9E%91%EC%97%85%ED%98%952_%EC%97%AC%ED%96%89%EC%9E%90%EB%B3%B4%ED%97%98%EA%B0%80%EC%9E%85%EC%97%AC%EB%B6%80%EC%98%88%EC%B8%A1%EB%AA%A8%EB%8D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 79.8kB/s]

In [3]:
!kaggle datasets download -d tejashvi14/travel-insurance-prediction-data

Downloading travel-insurance-prediction-data.zip to /content
  0% 0.00/13.0k [00:00<?, ?B/s]
100% 13.0k/13.0k [00:00<00:00, 11.6MB/s]

In [4]:
!unzip /content/travel-insurance-prediction-data.zip

Archive:  /content/travel-insurance-prediction-data.zip
  inflating: TravelInsurancePrediction.csv

In [44]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

def exam_data_load(df, target, id_name="", null_name=""):

    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2022)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("/content/TravelInsurancePrediction.csv")
df = df.drop(columns='Unnamed: 0', axis=1)
X_train, X_test, y_train, y_test = exam_data_load(df, target='TravelInsurance')

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
print()
print("X_train")
print(X_train.head())
print()
print(X_train.describe())
print()
print(X_train.info())
print()
print(X_train.isna().sum())
print()
cols_train = X_train.columns
for col in cols_train:
    print(X_train[col].value_counts())
    print()

print()
print("X_test")
print(X_test.head())
print()
print(X_test.describe())
print()
print(X_test.info())
print()
print(X_test.isna().sum())
print()
cols_test = X_test.columns
for col in cols_test:
    print(X_test[col].value_counts())
    print()

object_cols = []
for col in cols_train:
    if X_train[col].dtype == 'object':
        object_cols.append(col)
print("object 열")
print(object_cols)
print()
LE = LabelEncoder()
for col in object_cols:
    X_train[col] = LE.fit_transform(X_train[col])
    X_test[col] = LE.transform(X_test[col])

X_train = X_train.drop(columns='id')
X_test_id = X_test['id']
X_test = X_test.drop(columns='id')

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=2022)
model.fit(X_train, y_train['TravelInsurance'])
print("모델 점수 train data:", model.score(X_train, y_train['TravelInsurance']))
prediction = model.predict(X_test)
print("모델 점수 test data:", model.score(X_test, prediction))
print()
output = pd.DataFrame({"id" : X_test_id, "TravelInsurance" : prediction})
print(output.head())
output.to_csv('20220620.csv', index=False)

(1589, 9) (398, 9) (1589, 2) (398, 2)

X_train
      id  Age               Employment Type GraduateOrNot  AnnualIncome  \
659  659   34  Private Sector/Self Employed           Yes        500000
779  779   25  Private Sector/Self Employed           Yes       1400000
643  643   28  Private Sector/Self Employed           Yes       1100000
386  386   28  Private Sector/Self Employed           Yes       1350000
700  700   28  Private Sector/Self Employed           Yes       1450000

     FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
659              3                0            No                  No
779              4                0            No                 Yes
643              5                1            No                  No
386              5                0            No                 Yes
700              4                0           Yes                 Yes

                id          Age  AnnualIncome  FamilyMembers  ChronicDiseases
count  1589.000000  1589.000000  1.589000e+03    1589.000000      1589.000000
mean    990.482064    29.626180  9.340466e+05       4.767778         0.274386
std     566.149802     2.905735  3.772273e+05       1.608250         0.446345
min       0.000000    25.000000  3.000000e+05       2.000000         0.000000
25%     505.000000    28.000000  6.000000e+05       4.000000         0.000000
50%     989.000000    29.000000  9.000000e+05       5.000000         0.000000
75%    1478.000000    32.000000  1.250000e+06       6.000000         1.000000
max    1985.000000    35.000000  1.800000e+06       9.000000         1.000000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1589 entries, 659 to 893
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1589 non-null   int64
 1   Age                  1589 non-null   int64
 2   Employment Type      1589 non-null   object
 3   GraduateOrNot        1589 non-null   object
 4   AnnualIncome         1589 non-null   int64
 5   FamilyMembers        1589 non-null   int64
 6   ChronicDiseases      1589 non-null   int64
 7   FrequentFlyer        1589 non-null   object
 8   EverTravelledAbroad  1589 non-null   object
dtypes: int64(5), object(4)
memory usage: 124.1+ KB
None

id                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

659     1
96      1
351     1
1201    1
1466    1
       ..
353     1
283     1
964     1
1190    1
893     1
Name: id, Length: 1589, dtype: int64

28    396
34    208
31    191
29    155
26    123
25    116
33    115
27    110
32     76
30     52
35     47
Name: Age, dtype: int64

Private Sector/Self Employed    1135
Government Sector                454
Name: Employment Type, dtype: int64

Yes    1350
No      239
Name: GraduateOrNot, dtype: int64

800000     122
500000     111
1400000    107
600000      85
1200000     83
1100000     82
1300000     77
700000      75
1050000     70
300000      70
1500000     67
550000      63
1150000     62
900000      60
1250000     58
1000000     52
400000      51
750000      50
350000      46
850000      38
1350000     37
1700000     25
1450000     23
650000      22
950000      16
450000      13
1750000     13
1550000      5
1800000      4
1650000      2
Name: AnnualIncome, dtype: int64

4    400
5    335
3    300
6    243
7    150
2     73
8     45
9     43
Name: FamilyMembers, dtype: int64

0    1153
1     436
Name: ChronicDiseases, dtype: int64

No     1252
Yes     337
Name: FrequentFlyer, dtype: int64

No     1282
Yes     307
Name: EverTravelledAbroad, dtype: int64


X_test
      id  Age               Employment Type GraduateOrNot  AnnualIncome  \
920  920   32             Government Sector           Yes        650000
777  777   27             Government Sector           Yes        500000
696  696   32             Government Sector           Yes        350000
907  907   26  Private Sector/Self Employed           Yes       1400000
675  675   27  Private Sector/Self Employed            No        350000

     FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
920              5                0            No                  No
777              5                0            No                  No
696              2                0            No                  No
907              6                0            No                 Yes
675              3                0            No                  No

                id         Age  AnnualIncome  FamilyMembers  ChronicDiseases
count   398.000000  398.000000  3.980000e+02     398.000000       398.000000
mean   1003.052764   29.746231  9.276382e+05       4.693467         0.291457
std     603.737044    2.945076  3.757980e+05       1.615887         0.455006
min       5.000000   25.000000  3.000000e+05       2.000000         0.000000
25%     454.250000   28.000000  6.000000e+05       4.000000         0.000000
50%    1017.500000   29.000000  9.000000e+05       4.000000         0.000000
75%    1574.000000   33.000000  1.200000e+06       6.000000         1.000000
max    1986.000000   35.000000  1.750000e+06       9.000000         1.000000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 920 to 1770
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   398 non-null    int64
 1   Age                  398 non-null    int64
 2   Employment Type      398 non-null    object
 3   GraduateOrNot        398 non-null    object
 4   AnnualIncome         398 non-null    int64
 5   FamilyMembers        398 non-null    int64
 6   ChronicDiseases      398 non-null    int64
 7   FrequentFlyer        398 non-null    object
 8   EverTravelledAbroad  398 non-null    object
dtypes: int64(5), object(4)
memory usage: 31.1+ KB
None

id                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

920     1
1323    1
673     1
104     1
1527    1
       ..
1595    1
1461    1
1627    1
1791    1
1770    1
Name: id, Length: 398, dtype: int64

28    110
34     58
31     43
29     37
33     33
25     30
26     25
27     21
32     15
30     13
35     13
Name: Age, dtype: int64

Private Sector/Self Employed    282
Government Sector               116
Name: Employment Type, dtype: int64

Yes    342
No      56
Name: GraduateOrNot, dtype: int64

500000     32
800000     31
1200000    29
1100000    25
1400000    23
700000     20
550000     18
300000     18
850000     17
1150000    17
1500000    15
750000     15
400000     14
1300000    14
600000     13
1250000    13
1700000    12
1050000    12
900000     12
350000      9
650000      8
1000000     8
1450000     8
1350000     6
950000      5
1750000     2
450000      2
Name: AnnualIncome, dtype: int64

4    105
5     91
3     77
6     51
7     28
2     20
8     14
9     12
Name: FamilyMembers, dtype: int64

0    282
1    116
Name: ChronicDiseases, dtype: int64

No     318
Yes     80
Name: FrequentFlyer, dtype: int64

No     325
Yes     73
Name: EverTravelledAbroad, dtype: int64

object 열
['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']

모델 점수 train data: 0.9257394587791064
모델 점수 test data: 1.0

      id  TravelInsurance
920  920                0
777  777                0
696  696                0
907  907                1
675  675                0