<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%AA%A8%EB%8D%B8%EB%A7%81/%EC%B1%84%EC%9A%A9%EC%97%AC%EB%B6%80%EB%AA%A8%EB%8D%B8%EB%A7%81_replace_groupby_fillna_drop_index_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 120kB/s]

In [2]:
!kaggle datasets download -d agileteam/hr-data

Downloading hr-data.zip to /content
  0% 0.00/361k [00:00<?, ?B/s]
100% 361k/361k [00:00<00:00, 83.3MB/s]

In [3]:
!unzip /content/hr-data.zip

Archive:  /content/hr-data.zip
  inflating: X_test.csv
  inflating: X_train.csv
  inflating: answer.json
  inflating: answer.pickle
  inflating: y_train.csv

In [699]:
import pandas as pd
import numpy as np

In [727]:
X_train = pd.read_csv('/content/X_train.csv')
X_test = pd.read_csv('/content/X_test.csv')
y_train = pd.read_csv('/content/y_train.csv')

In [728]:
X_train

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127

In [729]:
X_test

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,10/49,Pvt Ltd,1,39
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000,Pvt Ltd,>4,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2121,27163,city_173,0.878,Male,No relevent experience,no_enrollment,Masters,STEM,16,<10,Pvt Ltd,>4,58
2122,24507,city_90,0.698,NaN,No relevent experience,no_enrollment,Graduate,STEM,20,NaN,NaN,never,133
2123,21339,city_21,0.624,Female,No relevent experience,Full time course,High School,NaN,3,NaN,NaN,never,56
2124,1289,city_103,0.920,Male,No relevent experience,no_enrollment,Graduate,Humanities,16,NaN,Public Sector,4,15
2125,195,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,18,NaN,NaN,2,30

In [730]:
y_train

       enrollee_id  target
0             8949       1
1            29725       0
2            11561       0
3            33241       1
4              666       0
...            ...     ...
19153         7386       1
19154        31398       1
19155        24576       0
19156         5756       0
19157        23834       0

[19158 rows x 2 columns]

In [855]:
X_train.describe()

,city_development_index,relevent_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours
count,18502.000000,18502.000000,18502.000000,18502.000000,18502.000000,18502.000000,18502.000000,18502.000000
mean,0.830070,0.727381,0.470868,3.138147,4.588207,10.158145,1.982002,65.303805
std,0.122896,0.445319,0.809509,0.687826,0.980860,6.783769,1.680190,60.066510
min,0.448000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,0.743000,0.000000,0.000000,3.000000,5.000000,4.000000,1.000000,23.000000
50%,0.910000,1.000000,0.000000,3.000000,5.000000,9.000000,1.000000,47.000000
75%,0.920000,1.000000,1.000000,4.000000,5.000000,16.000000,3.000000,88.000000
max,0.949000,1.000000,2.000000,5.000000,5.000000,21.000000,5.000000,336.000000

In [731]:
X_train.isna().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
dtype: int64

In [732]:
X_test.isna().sum()

enrollee_id                 0
city                        0
city_development_index      0
gender                    510
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          310
experience                  5
company_size              621
company_type              634
last_new_job               40
training_hours              0
dtype: int64

In [733]:
for col in X_train.columns:
    print(col)
    print(X_train[col].value_counts())
    print()

enrollee_id
8949     1
10660    1
30726    1
18507    1
31273    1
        ..
11547    1
32067    1
14356    1
18051    1
23834    1
Name: enrollee_id, Length: 19158, dtype: int64

city
city_103    4355
city_21     2702
city_16     1533
city_114    1336
city_160     845
            ...
city_129       3
city_111       3
city_121       3
city_140       1
city_171       1
Name: city, Length: 123, dtype: int64

city_development_index
0.920    5200
0.624    2702
0.910    1533
0.926    1336
0.698     683
         ...
0.649       4
0.807       4
0.781       3
0.625       3
0.664       1
Name: city_development_index, Length: 93, dtype: int64

gender
Male      13221
Female     1238
Other       191
Name: gender, dtype: int64

relevent_experience
Has relevent experience    13792
No relevent experience      5366
Name: relevent_experience, dtype: int64

enrolled_university
no_enrollment       13817
Full time course     3757
Part time course     1198
Name: enrolled_university, dtype: int64

education_level
Graduate          11598
Masters            4361
High School        2017
Phd                 414
Primary School      308
Name: education_level, dtype: int64

major_discipline
STEM               14492
Humanities           669
Other                381
Business Degree      327
Arts                 253
No Major             223
Name: major_discipline, dtype: int64

experience
>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
15      686
11      664
14      586
1       549
<1      522
16      508
12      494
13      399
17      342
19      304
18      280
20      148
Name: experience, dtype: int64

company_size
50-99        3083
100-500      2571
10000+       2019
10/49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: company_size, dtype: int64

company_type
Pvt Ltd                9817
Funded Startup         1001
Public Sector           955
Early Stage Startup     603
NGO                     521
Other                   121
Name: company_type, dtype: int64

last_new_job
1        8040
>4       3290
2        2900
never    2452
4        1029
3        1024
Name: last_new_job, dtype: int64

training_hours
28     329
12     292
18     291
22     282
50     279
      ...
266      6
234      5
272      5
286      5
238      4
Name: training_hours, Length: 241, dtype: int64

In [734]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.9+ MB

---------

# 전처리 전략
- experience: >20 -> 21
- experience: <1 -> 0
- experience: null -> 0
- last new job: >4 -> 5
- last new job: never -> 0
- last new job: null -> 0
- relevant experience: Has -> 1
- relevant experience: No -> 0
- enrolled university != no -> education level Graduate
- enrolled_university: no_enrollment -> 0
- enrolled_university: Part time course -> 1
- enrolled_university: Full time course -> 2
- education level: Primary -> 1
- education level: High -> 2
- education level: Graduate -> 3
- education level: Master -> 4
- education level: Phd -> 5
- major fillna groupby education level, experience .mode()
- Label Encoder: major_discipline
- drop enrollee_id, city, gender, company_size, company_type
- 결측치 있는 index 추출
- dropna
- object -> int64

In [735]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [736]:
X_train['experience'] = X_train['experience'].replace('>20', 21)
X_train['experience'] = X_train['experience'].replace('<1', 0)
X_train['experience'] = X_train['experience'].fillna(0)
X_train['last_new_job'] = X_train['last_new_job'].replace('>4', 5)
X_train['last_new_job'] = X_train['last_new_job'].replace('never', 0)
X_train['last_new_job'] = X_train['last_new_job'].fillna(0)
X_train['relevent_experience'] = X_train['relevent_experience'].replace('Has relevent experience', 1)
X_train['relevent_experience'] = X_train['relevent_experience'].replace('No relevent experience', 0)
X_train['education_level'][X_train['enrolled_university'] != 'no_enrollment'] = X_train['education_level'][X_train['enrolled_university'] != 'no_enrollment'].fillna('Graduate')
X_train['enrolled_university'] = X_train['enrolled_university'].replace('no_enrollment', 0)
X_train['enrolled_university'] = X_train['enrolled_university'].replace('Part time course', 1)
X_train['enrolled_university'] = X_train['enrolled_university'].replace('Full time course', 2)
X_train['education_level'] = X_train['education_level'].replace('Primary School', 1)
X_train['education_level'] = X_train['education_level'].replace('High School', 2)
X_train['education_level'] = X_train['education_level'].replace('Graduate', 3)
X_train['education_level'] = X_train['education_level'].replace('Masters', 4)
X_train['education_level'] = X_train['education_level'].replace('Phd', 5)
X_train['major_discipline'] = X_train.groupby(['education_level', 'experience'])['major_discipline'].apply(lambda x : x.fillna(x.mode().iloc[0]) if x.mode().empty == False else x.fillna('Other'))
X_train['major_discipline'] = LE.fit_transform(X_train['major_discipline'])
X_train = X_train.drop(columns=['enrollee_id','city', 'gender', 'company_size', 'company_type'])
null_index = X_train[(X_train['enrolled_university'].isna() == True) | (X_train['education_level'].isna() == True)].index.tolist()
X_train = X_train.dropna(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [737]:
len(null_index)

656

In [738]:
y_train = y_train.drop(index=null_index, axis=0)

In [739]:
X_train.shape, y_train.shape

((18502, 8), (18502, 2))

In [740]:
X_train.isna().sum()

city_development_index    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
last_new_job              0
training_hours            0
dtype: int64

In [741]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18502 entries, 0 to 19157
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_development_index  18502 non-null  float64
 1   relevent_experience     18502 non-null  int64
 2   enrolled_university     18502 non-null  float64
 3   education_level         18502 non-null  float64
 4   major_discipline        18502 non-null  int64
 5   experience              18502 non-null  object
 6   last_new_job            18502 non-null  object
 7   training_hours          18502 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.3+ MB

In [742]:
X_train['experience'] = X_train['experience'].astype(int)
X_train['last_new_job'] = X_train['last_new_job'].astype(int)

In [743]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18502 entries, 0 to 19157
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_development_index  18502 non-null  float64
 1   relevent_experience     18502 non-null  int64
 2   enrolled_university     18502 non-null  float64
 3   education_level         18502 non-null  float64
 4   major_discipline        18502 non-null  int64
 5   experience              18502 non-null  int64
 6   last_new_job            18502 non-null  int64
 7   training_hours          18502 non-null  int64
dtypes: float64(3), int64(5)
memory usage: 1.3 MB

-------

# test 데이터에도 동일하게 수행
# 제출 데이터를 위해 test 데이터 id 값 추출

In [744]:
X_test_id = X_test['enrollee_id']
X_test['experience'] = X_test['experience'].replace('>20', 21)
X_test['experience'] = X_test['experience'].replace('<1', 0)
X_test['experience'] = X_test['experience'].fillna(0)
X_test['last_new_job'] = X_test['last_new_job'].replace('>4', 5)
X_test['last_new_job'] = X_test['last_new_job'].replace('never', 0)
X_test['last_new_job'] = X_test['last_new_job'].fillna(0)
X_test['relevent_experience'] = X_test['relevent_experience'].replace('Has relevent experience', 1)
X_test['relevent_experience'] = X_test['relevent_experience'].replace('No relevent experience', 0)
X_test['education_level'][X_test['enrolled_university'] != 'no_enrollment'] = X_test['education_level'][X_test['enrolled_university'] != 'no_enrollment'].fillna('Graduate')
X_test['enrolled_university'] = X_test['enrolled_university'].replace('no_enrollment', 0)
X_test['enrolled_university'] = X_test['enrolled_university'].replace('Part time course', 1)
X_test['enrolled_university'] = X_test['enrolled_university'].replace('Full time course', 2)
X_test['education_level'] = X_test['education_level'].replace('Primary School', 1)
X_test['education_level'] = X_test['education_level'].replace('High School', 2)
X_test['education_level'] = X_test['education_level'].replace('Graduate', 3)
X_test['education_level'] = X_test['education_level'].replace('Masters', 4)
X_test['education_level'] = X_test['education_level'].replace('Phd', 5)
X_test['major_discipline'] = X_test.groupby(['education_level', 'experience'])['major_discipline'].apply(lambda x : x.fillna(x.mode().iloc[0]) if x.mode().empty == False else x.fillna('Other'))
X_test['major_discipline'] = LE.transform(X_test['major_discipline'])
X_test = X_test.drop(columns=['city', 'gender', 'company_size', 'company_type'])
null_index_test = X_test[(X_test['enrolled_university'].isna() == True) | (X_test['education_level'].isna() == True)].index.tolist()
X_test = X_test.dropna(axis=0)
X_test_id = X_test['enrollee_id']
X_test = X_test.drop(columns='enrollee_id')
X_test['experience'] = X_test['experience'].astype(int)
X_test['last_new_job'] = X_test['last_new_job'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [745]:
X_test.isna().sum()

city_development_index    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
last_new_job              0
training_hours            0
dtype: int64

In [746]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2062 entries, 0 to 2125
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_development_index  2062 non-null   float64
 1   relevent_experience     2062 non-null   int64
 2   enrolled_university     2062 non-null   float64
 3   education_level         2062 non-null   float64
 4   major_discipline        2062 non-null   int64
 5   experience              2062 non-null   int64
 6   last_new_job            2062 non-null   int64
 7   training_hours          2062 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 145.0 KB

--------

# 모델링
# RandomForestClassifer 사용

In [747]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [847]:
model = RandomForestClassifier(n_estimators=100, max_depth=7, random_state=2022)
model.fit(X_train, y_train['target'])
print(model.score(X_train, y_train['target']))

0.7932655929088747

In [848]:
print(roc_auc_score(y_train['target'], model.predict(X_train)))

0.6617586065689689

-------

# 제출 데이터 생성

In [849]:
prediction = model.predict(X_test)

In [850]:
output = pd.DataFrame({'enrollee_id' : X_test_id, 'target' : prediction})
output.to_csv('20220619.csv')

In [851]:
output

      enrollee_id  target
0           32403       0
1            9858       0
2           31806       1
3           27385       0
4           27724       0
...           ...     ...
2121        27163       0
2122        24507       0
2123        21339       0
2124         1289       0
2125          195       0

[2062 rows x 2 columns]

In [852]:
output['target'].value_counts()

0    1706
1     356
Name: target, dtype: int64

------

# 체점

In [853]:
import pickle

with open( "/content/answer.pickle", "rb" ) as file:
    ans = pickle.load(file)
    ans = pd.DataFrame(ans)
ans = ans.drop(index=null_index_test, axis=0)
print(roc_auc_score(ans['target'], output['target']))

0.6501093611231837