<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/replace_%EB%8B%A4%EC%A4%91%EC%A1%B0%EA%B1%B4%EC%84%A0%ED%83%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 117kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 13.2MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [4]:
import pandas as pd
import numpy as np

In [25]:
data = pd.read_csv('/content/basic1.csv')

In [26]:
data

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

----------

# 고유값 개수 및 f4의 값 별 개수 출력

In [27]:
data.nunique()

id      100
age      71
city      4
f1       43
f2        3
f3        1
f4       16
f5       20
dtype: int64

In [28]:
data['f4'].value_counts()

ESTP    11
ISFJ    10
ISFP    10
ESTJ     9
INTP     8
ENFJ     6
INFP     6
ENFP     6
ENTP     6
ESFJ     5
ENTJ     5
INFJ     4
ESFP     4
ISTP     4
INTJ     4
ISTJ     2
Name: f4, dtype: int64

--------

# replace를 사용하여 f4의 ESFJ를 ISFJ로 치환

In [29]:
data['f4'] = data['f4'].replace('ESFJ', 'ISFJ')

-----------

# 고유값 개수 및 f4의 값 별 개수 출력

In [30]:
data.nunique()

id      100
age      71
city      4
f1       43
f2        3
f3        1
f4       15
f5       20
dtype: int64

f4의 고유값이 16개에서 15개로 줄어든 것을 확인

In [31]:
data['f4'].value_counts()

ISFJ    15
ESTP    11
ISFP    10
ESTJ     9
INTP     8
ENFJ     6
INFP     6
ENFP     6
ENTP     6
ENTJ     5
INFJ     4
ESFP     4
ISTP     4
INTJ     4
ISTJ     2
Name: f4, dtype: int64

In [36]:
data['f4'][data['f4'] == 'ESFJ'].count()

0

ESFJ가 사라진 것을 확인

-----------

# 경기와 ISFJ에 해당되는 age의 최대값 출력

In [33]:
print(data['age'][(data['city'] == '경기') & (data['f4'] == 'ISFJ')].max())

90.0