<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/shift_fillna_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주어진 데이터(basic2.csv)에서 '1일 이전 PV' 컬럼을 만들고, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 '1일 이전 PV'  컬럼 합을 구하시오.

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 88.9kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 10.0MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('/content/basic2.csv')

In [15]:
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

-------

# 이미 날짜 별로 데이터가 정리된 상태이므로 shift를 활용하여 하루 전 PV 컬럼 생성
- DataFrame.shift(periods=1, freq=None, axis=0, fill_value=NoDefault.no_default)

In [16]:
df['previous_PV'] = df['PV'].shift(1)

In [17]:
df

           Date     Sales      PV      UV  Events  previous_PV
0    2022-01-01  22711525  397349  4421.0       1          NaN
1    2022-01-02     36779    3969  2289.0       0     397349.0
2    2022-01-03  13943875  373890     NaN       1       3969.0
3    2022-01-04   8088593  142054  2157.0       0     373890.0
4    2022-01-05   2395374  190684     NaN       0     142054.0
..          ...       ...     ...     ...     ...          ...
725  2023-12-27  33846609  415067  7360.0       1      51258.0
726  2023-12-28   3659566  208601  2262.0       1     415067.0
727  2023-12-29   1164008   14309   193.0       0     208601.0
728  2023-12-30   3977696   60935     NaN       0      14309.0
729  2023-12-31   3719764   60963  1507.0       0      60935.0

[730 rows x 6 columns]

-------

# 하루 전 PV 데이터를 생성하여 결측치가 된 첫 데이터를 기존 데이터로 채우기

In [18]:
df['previous_PV'] = df['previous_PV'].fillna(df['previous_PV'].iloc[1])

In [19]:
df

           Date     Sales      PV      UV  Events  previous_PV
0    2022-01-01  22711525  397349  4421.0       1     397349.0
1    2022-01-02     36779    3969  2289.0       0     397349.0
2    2022-01-03  13943875  373890     NaN       1       3969.0
3    2022-01-04   8088593  142054  2157.0       0     373890.0
4    2022-01-05   2395374  190684     NaN       0     142054.0
..          ...       ...     ...     ...     ...          ...
725  2023-12-27  33846609  415067  7360.0       1      51258.0
726  2023-12-28   3659566  208601  2262.0       1     415067.0
727  2023-12-29   1164008   14309   193.0       0     208601.0
728  2023-12-30   3977696   60935     NaN       0      14309.0
729  2023-12-31   3719764   60963  1507.0       0      60935.0

[730 rows x 6 columns]

-------

# previous_PV에 조건을 적용시키고 조건에 해당하는 previous_PV의 합 계산

In [21]:
print(df['previous_PV'][(df['Events'] == 1) & (df['Sales'] <= 1000000)].sum())

1894876.0