<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/sort_values_slicing_fillna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주어진 데이터 basic1에서 age컬럼 상위 20개의 데이터를 구하시오.
# f1의 결측치를 중앙값으로 채우시오.
# 이때 f4가 ISFJ와 f5가 20 이상인 f1의 평균값을 출력하시오

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 54.6kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 10.2MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('/content/basic1.csv')

------

# age에 대해 내림차순으로 정렬하고 상위 20개 데이터 구하기

In [19]:
df = df.sort_values(by='age', ascending=False)

In [20]:
df = df[0:20]

--------

# f1의 결측치를 f1의 중앙값으로 채우기

In [21]:
df['f1'] = df['f1'].fillna(df['f1'].median())

In [22]:
df

      id    age city    f1  f2   f3    f4         f5
96  id97  100.0   경기  77.5   0  NaN  INFP  67.886373
36  id37  100.0   부산  77.5   0  NaN  ESTP  33.308999
44  id45   97.0   대구  88.0   0  NaN  ENFJ  13.049921
51  id52   97.0   대구  82.0   1  NaN  ISFJ  90.496999
91  id92   97.0   경기  78.0   1  NaN  INFP  97.381034
9   id10   95.0   서울  74.0   1  NaN  ISFP  98.429899
45  id46   93.0   대구  77.5   0  NaN  ESTJ  67.886373
77  id78   92.0   경기  96.0   1  NaN  INTJ  69.730313
95  id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
72  id73   90.0   경기  77.5   1  NaN  ISFJ  73.586397
20  id21   90.0   부산  77.5   1  NaN  ISFP  29.269869
87  id88   89.0   경기  75.0   0  NaN  ESTJ  60.339826
62  id63   88.0   경기  86.0   1  NaN  ISFJ  73.586397
65  id66   87.0   경기  77.5   1  NaN  ISFP  17.252986
37  id38   87.0   부산  77.5   1  NaN  ESTP  83.685380
60  id61   87.0   경기  62.0   2  NaN  INTP  69.730313
49  id50   86.0   대구  78.0   1  NaN  ENFP  60.339826
80  id81   86.0   경기  50.0   1  NaN  ISFJ  37.113739
30  id31   86.0   부산  77.0   0  NaN  ESFJ  73.586397
93  id94   84.0   경기  77.5   1  NaN  ESTJ  90.496999

---------

# f4가 ISFJ이고 f5가 20이상인 f1 값들의 평균 구하기

In [23]:
print(df['f1'][(df['f4']=='ISFJ') & (df['f5'] >= 20)].mean())

73.875