<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/sort_values_copy_fillna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주어진 데이터 셋에서 f2가 0인 데이터를 age를 기준으로 오름차순 정렬하고
# 앞에서 부터 20개의 데이터를 추출하시오.
# 이때 f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오. (소수점 둘째 자리까지)

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 87.7kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 4.04MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('/content/basic1.csv')

--------

# f2가 0인 데이터를 뽑아서 age의 오름차순으로 정렬

In [52]:
df = df[df['f2'] == 0].sort_values(by='age', ascending=True)

--------

# 상위 20개 값 도출

In [53]:
df = df[0:20]

In [54]:
df

      id   age city     f1  f2   f3    f4         f5
98  id99   1.0   경기   47.0   0  NaN  ESFJ  97.381034
0   id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
85  id86   2.0   경기    NaN   0  NaN  ESTP  29.269869
56  id57   3.0   대구  111.0   0  NaN  ISFJ  29.269869
90  id91   6.0   경기   72.0   0  NaN  INTP   9.796378
71  id72   8.0   경기   97.0   0  NaN  ESTJ  97.381034
12  id13  15.0   서울   68.0   0  NaN  ESFJ  83.685380
29  id30  16.0   부산    NaN   0  NaN  ESTJ  17.252986
47  id48  18.0   대구    NaN   0  NaN  ENFP  20.129444
11  id12  20.0   서울    NaN   0  NaN  ESTP  91.297791
92  id93  21.8   경기   57.0   0  NaN  ISFP  73.586397
5   id06  22.0   서울   57.0   0  vip  INTP  20.129444
42  id43  23.0   대구   60.0   0  NaN  ISTP  29.269869
31  id32  25.0   부산   64.0   0  vip  ISFJ  13.049921
64  id65  26.5   경기    NaN   0  NaN  ISFP  91.297791
78  id79  30.0   경기    NaN   0  NaN  INTJ  80.138280
24  id25  34.0   부산    NaN   0  NaN  ESTP  60.339826
50  id51  36.0   대구    NaN   0  NaN  ISTJ  83.685380
26  id27  37.0   부산   60.0   0  NaN  ESTP  73.586397
10  id11  40.0   서울   68.0   0  NaN  ENFP  98.429899

-------

# .copy()를 활용하여 깊은 복사 실행
# f1의 결측치를 fillna로 f1의 최소값으로 채우기

In [58]:
df_fillna = df.copy()
df_fillna['f1'] = df_fillna['f1'].fillna(df_fillna['f1'].min())

----------

# .var()을 활용하여 결측치 채우기 전후의 분산 구하기

In [59]:
f1_var_with_na = df['f1'].var()
print(f1_var_with_na)
f1_var_without_na = df_fillna['f1'].var()
print(f1_var_without_na)

351.7636363636363
313.32631578947377

-------

# 구해진 두 분산의 차이 소수점 두번째 자리까지 구하기

In [60]:
print(round(abs(f1_var_with_na - f1_var_without_na), 2))

38.44