<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B3%91%ED%95%A9_merge_left_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# basic1 데이터 중 'f4'를 기준으로 basic3 데이터 'f4'값을 기준으로 병합하시오.
# 병합한 데이터에서 r2결측치를 제거한다음, 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하시오.

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 205kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 25.2MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [4]:
import pandas as pd
import numpy as np

In [11]:
df1 = pd.read_csv('/content/basic1.csv')
df3 = pd.read_csv('/content/basic3.csv')

In [12]:
df1

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [13]:
df3

      f4    r1    r2
0   INFP  ENFJ  ENTJ
1   ENFP  INFJ   NaN
2   INFJ  ENFP  ENTP
3   ENFJ  INFP  ISFP
4   INTJ  ENFP  ENTP
5   ENTJ  INFP   NaN
6   INTP  ENTJ  ESTJ
7   ENTP  INFJ  INTJ
8   ISFP  ENFJ  ESFJ
9   ESFP  ISFJ  ISTJ
10  ISTP  ESFJ   NaN
11  ESTP  ISFJ  ISTJ
12  ISFJ  ESFP  ESTP
13  ESFJ  ISFP  ISTP
14  ISTJ  ESFP   NaN
15  ESTJ  INTP  ISFP

-------

# df3의 데이터가 df1에 1:1 대응되는 구조가 아닌 각 f4 값에 대응하는 데이터이므로 merge에서 df1을 기준으로 데이터가 연결되도록 left로 merge 실행하고 기준은 f4로 한다.

In [14]:
df = pd.merge(df1, df3, how='left', on='f4')

In [15]:
df

       id    age city    f1  f2   f3    f4         f5    r1    r2
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791  INFP  ISFP
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826  INFP  ISFP
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986  ESFP   NaN
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078  ENFJ  ENTJ
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869  ESFP  ESTP
..    ...    ...  ...   ...  ..  ...   ...        ...   ...   ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078  INFP   NaN
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373  ENFJ  ENTJ
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899  ENFJ  ENTJ
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034  ISFP  ISTP
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999  ISFJ  ISTJ

[100 rows x 10 columns]

------

# 결측치 확인

In [16]:
df.isna().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
r1       0
r2      17
dtype: int64

-----

# r2에 대해 dropna를 사용하여 결측치 제거

In [24]:
df = df.dropna(subset=['r2'])

In [25]:
df.isna().sum()

id       0
age      0
city     0
f1      27
f2       0
f3      78
f4       0
f5       0
r1       0
r2       0
dtype: int64

r2의 결측치가 제거된 것을 확인

-------

# f2의 20번째 데이터까지 합 구하기

In [28]:
print(df['f2'].iloc[:20].sum())

15