<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/%EB%B3%80%EC%88%98%EC%84%A0%ED%83%9D_%EB%B0%8F_%ED%91%9C%EC%A4%80%ED%8E%B8%EC%B0%A8%EA%B3%84%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 68.3kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 13.4MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('/content/basic1.csv')

In [6]:
data

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

---------

# groupby 매소드를 통해 각 그룹의 변수 별 표준편차 한눈에 보기

In [38]:
std_groupby_f4 = data.groupby('f4').std()

In [39]:
std_groupby_f4

            age         f1        f2         f5
f4
ENFJ  37.822833  17.727098  0.516398  30.933708
ENFP  32.286452   8.154753  0.547723  32.810702
ENTJ  23.222834  23.228933  0.547723  21.123134
ENTP  33.728944  13.217413  0.752773  33.115293
ESFJ  38.718187  19.189841  0.894427  37.239798
ESFP  11.090537  16.502525  1.000000  24.718074
ESTJ  32.832166  10.456258  0.726483  26.768329
ESTP  31.995170  25.095152  0.820200  25.549669
INFJ  21.443880  26.057628  0.500000  23.292575
INFP  22.394196  23.586719  0.894427  23.769493
INTJ  38.249183  28.571548  0.500000  10.359003
INTP  27.474664  15.616231  0.744024  28.780011
ISFJ  33.774943  20.029839  0.666667  30.211586
ISFP  29.748279  15.215124  0.788811  28.171590
ISTJ   6.363961        NaN  0.707107  46.974797
ISTP  34.258819  18.083141  0.500000  18.997796

-------

# ENFJ와 INFP의 f1 표준편차 값 구하기

In [32]:
ENFJ_f1_std = data['f1'][data['f4']=='ENFJ'].std()

In [33]:
INFP_f1_std = data['f1'][data['f4']=='INFP'].std()

In [34]:
print(ENFJ_f1_std)
print(INFP_f1_std)

17.727097901235837
23.586719427112648

---------

# 두 결과값의 차이 절대값 구하기

In [35]:
print(abs(ENFJ_f1_std - INFP_f1_std))

5.859621525876811