<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_3%ED%9A%8C_%EC%9E%91%EC%97%85%ED%98%951_%EA%B8%B0%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 122kB/s]

# 1. [캘리포니아 집값 데이터] 데이터의 결측값을 제거한 후, 처음부터 순서대로 70%를 추출하여 'housing_median_age'의 Q1 값 구하기

In [17]:
!kaggle datasets download -d harrywang/housing

Downloading housing.zip to /content
  0% 0.00/400k [00:00<?, ?B/s]
100% 400k/400k [00:00<00:00, 106MB/s]

In [18]:
!unzip /content/housing.zip

Archive:  /content/housing.zip
  inflating: anscombe.csv
  inflating: housing.csv

In [19]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('/content/housing.csv')

print(df1.shape)
print()
print(df1.head())
print()
print(df1.isna().sum())
print()
df1 = df1.dropna()
print(len(df1))
df1 = df1[:(round(len(df1)*0.7))]
print()
print(df1.shape)
print()
Q1 = int(df1['housing_median_age'].quantile(0.25))
print(Q1)

(20640, 10)

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

20433

(14303, 10)

19

---------

# 2. [연도별 나라별 유병률 데이터] 데이터 중 2000년도에 전체 국가 유병률의 평균보다 큰 나라 수를 구하라. 

# 데이터가 없어서 빅데이터분석기사 실기 준비 데이터 basic2.csv에 대해 변형 문제 수행.
# 2022년 데이터 중 평균 Sales가 가장 높은 달 구하기

In [20]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

bigdatacertificationkr.zip: Skipping, found more recently modified local copy (use --force to force download)

In [21]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
replace basic1.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Y
  inflating: basic1.csv
replace basic1_json.json? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [22]:
import pandas as pd
import numpy as np

df2 = pd.read_csv('/content/basic2.csv')

print(df2.head())
print()
print(df2.info())
print()
print('to_datetime 실행')
df2['Date'] = pd.to_datetime(df2['Date'])
print(df2.info())
print()
print("Year 및 Month 생성")
df2['Year'] = df2['Date'].dt.year
df2['Month'] = df2['Date'].dt.month
print(df2.head())
print()
df2_groupby = df2.groupby(['Year', 'Month']).sum()
print(df2_groupby)
max_sales_month_2022 = df2_groupby['Sales'].loc[2022].max()
max_sales_month_2022_index = df2_groupby[df2_groupby['Sales'] == max_sales_month_2022].index
print()
print('2022년 최대 매출 월 :', max_sales_month_2022_index[0][1])

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB
None

to_datetime 실행
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB
None

Year 및 Month 생성
        Date     Sales      PV      UV  Events  Year  Month
0 2022-01-01  22711525  397349  4421.0       1  2022      1
1 2022-01-02     36779    3969  2289.0       0  2022      1
2 2022-01-03  13943875  373890     NaN       1  2022      1
3 2022-01-04   8088593  142054  2157.0       0  2022      1
4 2022-01-05   2395374  190684     NaN       0  2022      1

                Sales       PV        UV  Events
Year Month
2022 1      129342654  3079961   50366.0       5
     2      180741394  3298119   68908.0       9
     3      200161616  4726549   86131.0       9
     4      126811278  3212413   57795.0       6
     5      141285007  3523070   58316.0       7
     6      183586082  3582375   70900.0       8
     7      221417897  4152793   74925.0      10
     8      123502487  2845228   64624.0       8
     9      186583144  4172376   79254.0      10
     10     213484807  4028003   73127.0      10
     11      93177201  2174862   48903.0       2
     12     222485234  4560909   70528.0      10
2023 1      209399623  3218529   70881.0       8
     2      183012964  3509886   64825.0       6
     3      231040983  5452760  104144.0      13
     4      127840344  3110817   68068.0      10
     5      162722159  3801324   75261.0       8
     6      149763613  4021823   60261.0       5
     7      147604761  3800007   68875.0       7
     8      146936241  3903836   82146.0       8
     9      257490149  3868057   61729.0      10
     10     168747678  3678288   60162.0       5
     11     283181917  4838421   86791.0      11
     12     160205422  3180960   68501.0       7

2022년 최대 매출 월 : 12

--------

# 3. [타이타닉 데이터] 각 열의 결측치 비율을 확인 한 후, 결측율이 가장 높은 변수 명을 추출해라.

In [23]:
!kaggle competitions download -c 2019-1st-ml-month-with-kakr

Downloading 2019-1st-ml-month-with-kakr.zip to /content
  0% 0.00/34.0k [00:00<?, ?B/s]
100% 34.0k/34.0k [00:00<00:00, 27.3MB/s]

In [24]:
!unzip /content/2019-1st-ml-month-with-kakr.zip

Archive:  /content/2019-1st-ml-month-with-kakr.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [25]:
import pandas as pd
import numpy as np

df3 = pd.read_csv('/content/train.csv')

df3.isna().sum()
print()
cols = df3.columns
null_ratio = []
for col in cols:
    print("열 :", col)
    print("결측률 :", df3[col].isna().sum()/len(df3))
    print()
    null_ratio.append(df3[col].isna().sum()/len(df3))

null_ratio_col = pd.DataFrame({'column_name' : cols, 'null_ratio' : null_ratio})
print(null_ratio_col.head())
print()
print("전체 데이터에서 결측률이 가장 높은 열")
print(null_ratio_col['column_name'][null_ratio_col['null_ratio'] == null_ratio_col['null_ratio'].max()].iloc[0])

열 : PassengerId
결측률 : 0.0

열 : Survived
결측률 : 0.0

열 : Pclass
결측률 : 0.0

열 : Name
결측률 : 0.0

열 : Sex
결측률 : 0.0

열 : Age
결측률 : 0.19865319865319866

열 : SibSp
결측률 : 0.0

열 : Parch
결측률 : 0.0

열 : Ticket
결측률 : 0.0

열 : Fare
결측률 : 0.0

열 : Cabin
결측률 : 0.7710437710437711

열 : Embarked
결측률 : 0.002244668911335578

   column_name  null_ratio
0  PassengerId         0.0
1     Survived         0.0
2       Pclass         0.0
3         Name         0.0
4          Sex         0.0

전체 데이터에서 결측률이 가장 높은 열
Cabin