<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_%EA%B8%B0%EC%B6%9C%EC%9C%A0%ED%98%95_slicing_fillna_outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [129]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 69.5kB/s]

In [130]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

bigdatacertificationkr.zip: Skipping, found more recently modified local copy (use --force to force download)

In [131]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
replace basic1.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [132]:
import pandas as pd
import numpy as np

In [133]:
data = pd.read_csv('/content/basic1.csv')

-----------

# 문제 1
## 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
## 'f5'컬럼 상위 10개 중 최소값으로 데이터를 대체한 후,
## 'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하하시오.

In [134]:
df1 = data

---------

# 내림차순으로 데이터 정렬
DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

In [135]:
df1 = df1.sort_values(by='f5',ascending=False)

In [136]:
df1

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
97  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
9   id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
76  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
..   ...   ...  ...   ...  ..  ...   ...        ...
54  id55  75.0   대구  63.0   2  NaN  ENTP  13.049921
35  id36  68.0   부산  77.0   1  NaN  INTP  13.049921
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
90  id91   6.0   경기  72.0   0  NaN  INTP   9.796378
14  id15  22.0   서울  67.0   1  NaN  ENTP   9.796378

[100 rows x 8 columns]

------------

# f5 상위 10개 값 확인

In [137]:
df1['f5'][0:10]

10    98.429899
97    98.429899
9     98.429899
76    98.429899
98    97.381034
91    97.381034
86    97.381034
71    97.381034
11    91.297791
19    91.297791
Name: f5, dtype: float64

----------

# f5 상위 10개 값 중 최소값으로 f5 상위 10개 값 대체

In [138]:
df1['f5'][0:10] = df1['f5'][0:10].min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [139]:
df1

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  91.297791
97  id98  39.0   경기  58.0   2  NaN  INFP  91.297791
9   id10  95.0   서울  74.0   1  NaN  ISFP  91.297791
76  id77  77.0   경기  31.0   0  NaN  INFP  91.297791
98  id99   1.0   경기  47.0   0  NaN  ESFJ  91.297791
..   ...   ...  ...   ...  ..  ...   ...        ...
54  id55  75.0   대구  63.0   2  NaN  ENTP  13.049921
35  id36  68.0   부산  77.0   1  NaN  INTP  13.049921
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
90  id91   6.0   경기  72.0   0  NaN  INTP   9.796378
14  id15  22.0   서울  67.0   1  NaN  ENTP   9.796378

[100 rows x 8 columns]

---------

# age가 80이상인 데이터에 대해서 f5 값의 평균 계산

In [140]:
print(df1['f5'][(df1['age'] >= 80)].mean())

62.497747125217394

----------

# 문제 2
## 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
## 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
## 두 표준편차 차이 계산하기

In [141]:
df2 = data

In [142]:
df2.shape

(100, 8)

-------

# head를 사용하여 전체의 70%에 해당하는 데이터 추출

In [143]:
df2 = df2.head(int(len(df2)*0.7))

In [144]:
df2

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4   id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
..   ...   ...  ...   ...  ..  ...   ...        ...
65  id66  87.0   경기   NaN   1  NaN  ISFP  17.252986
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397
67  id68  35.0   경기  45.0   2  NaN  ISFP  67.886373
68  id69  75.0   경기  85.0   0  NaN  ESTJ  69.730313
69  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184

[70 rows x 8 columns]

In [145]:
df2.shape

(70, 8)

70%의 데이터가 추출 되었음을 확인

-----------

# 결측치 확인

In [146]:
df2.isnull().sum()

id       0
age      0
city     0
f1      23
f2       0
f3      67
f4       0
f5       0
dtype: int64

---------

# 결측치를 채우기 전의 f1 값 표준편차 구하기

In [147]:
std_before = df2['f1'].std()
print(std_before)

17.98727579865276

---------

# f1의 결측치를 f1의 중앙값으로 채우기

In [148]:
df2['f1'] = df2['f1'].fillna(df2['f1'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [149]:
df2.isnull().sum()

id       0
age      0
city     0
f1       0
f2       0
f3      67
f4       0
f5       0
dtype: int64

정상적으로 결측치가 제거된 것을 확인

----------

# 결측치를 채운 후의 f1의 표준편차 구하기

In [150]:
std_after = df2['f1'].std()
print(std_after)

14.690773995256688

-----------

# 결측치를 채우기 전 후의 표준편차의 값의 차이 구하기

In [151]:
print(abs(std_before - std_after))

3.2965018033960725

---------

# 문제 3
## 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오.
## 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [152]:
df3 = data

--------

# 평균으로부터 표준편차*1.5에 해당하는 이상치 영역 구하기

In [153]:
outlier_upper_bound = df3['age'].mean() + df3['age'].std()*1.5
outlier_lower_bound = df3['age'].mean() - df3['age'].std()*1.5

In [154]:
print(outlier_upper_bound)
print(outlier_lower_bound)

96.62713778388306
5.298862216116952

----------

# age의 이상치 영역에 해당하는 데이터 추출

In [155]:
df3_age_outlier = df3[(df3['age'] > outlier_upper_bound) | (df3['age'] < outlier_lower_bound)]

In [156]:
df3_age_outlier

      id    age city     f1  f2   f3    f4         f5
0   id01    2.0   서울   68.0   0  NaN  ENFJ  91.297791
8   id09    3.3   서울   35.0   2  NaN  ESFJ  17.252986
21  id22   -6.3   부산   72.0   1  NaN  ENFP  52.667078
28  id29  -13.5   부산   47.0   2  NaN  ENTP  67.886373
36  id37  100.0   부산   68.0   0  NaN  ESTP  33.308999
44  id45   97.0   대구   88.0   0  NaN  ENFJ  13.049921
51  id52   97.0   대구   82.0   1  NaN  ISFJ  90.496999
56  id57    3.0   대구  111.0   0  NaN  ISFJ  29.269869
57  id58    0.0   대구  100.0   2  NaN  ESTP  33.308999
69  id70   -9.0   경기   96.0   1  NaN  ISTP  48.431184
85  id86    2.0   경기    NaN   0  NaN  ESTP  29.269869
91  id92   97.0   경기   78.0   1  NaN  INFP  97.381034
96  id97  100.0   경기    NaN   0  NaN  INFP  67.886373
98  id99    1.0   경기   47.0   0  NaN  ESFJ  97.381034

---------

# 이상치에 해당하는 age의 합 구하기

In [157]:
print(df3_age_outlier['age'].sum())

473.5