<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%9E%91%EC%97%85%ED%98%951_%EB%AA%A8%EC%9D%98%EA%B3%A0%EC%82%AC_qcut_multi_sort_values_outlier_IQR_std.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 88.3kB/s]

In [4]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 7.15MB/s]

In [ ]:
!unzip /content/bigdatacertificationkr.zip

In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('/content/basic1.csv')

In [26]:
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

-----------

# 1. 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼을 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼을 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오
- 단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림)

In [27]:
df1 = df.copy()

# qcut으로 인덱스 기준 두 그룹으로 나누고 라벨 지정

In [28]:
df1['group'] = pd.qcut(df1.index, 2, labels=['A', 'B'])

In [29]:
df1

       id    age city    f1  f2   f3    f4         f5 group
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791     A
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826     A
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986     A
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078     A
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869     A
..    ...    ...  ...   ...  ..  ...   ...        ...   ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078     B
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373     B
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899     B
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034     B
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999     B

[100 rows x 9 columns]

# A라벨의 f1 결측치는 A라벨 f1 중앙값으로 채우고 B라벨의 f1 결측치는 B라벨 f1 최대값으로 채우기

In [30]:
df1['f1'][df1['group'] == 'A'] = df1['f1'][df1['group'] == 'A'].fillna(df1['f1'][df1['group'] == 'A'].median())
df1['f1'][df1['group'] == 'B'] = df1['f1'][df1['group'] == 'B'].fillna(df1['f1'][df1['group'] == 'B'].max())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# 결측치가 모두 채워진 것을 확인

In [31]:
df1.isna().sum()

id        0
age       0
city      0
f1        0
f2        0
f3       95
f4        0
f5        0
group     0
dtype: int64

# A라벨의 f1 표준편차와 B라벨의 f1 표준편차 더하기

In [34]:
print(round(df1['f1'][df1['group'] == 'A'].std() + df1['f1'][df1['group'] == 'B'].std(), 1))

42.0

---------------

# 2. 'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함
- 단 소수점 둘째자리까지 출력(셋째자리에서 반올림)

In [35]:
df2 = df.copy()

# sort_values를 사용하여 f4 내림차순, f5 오름차순으로 데이터 정렬

In [36]:
df2 = df2.sort_values(by=['f4', 'f5'], ascending=[False, True])

In [37]:
df2

      id   age city    f1  f2   f3    f4         f5
42  id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
69  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
16  id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
22  id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
2   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
..   ...   ...  ...   ...  ..  ...   ...        ...
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791

[100 rows x 8 columns]

# 정렬된 f5 값의 앞에서 10개의 데이터 중 가장 작은 값으로 앞에서 10개의 f5 데이터 대체

In [39]:
df2['f5'].iloc[:10] = df2['f5'].iloc[:10].min()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

# f5값의 평균 구하기

In [41]:
print(round(df2['f5'].mean(), 2))

53.63

----------

# 3. 'age' 컬럼의 IQR방식을 이용한 이상치 수와 표준편차*1.5방식을 이용한 이상치 수 합을 구하시오
- IQR방식 : Q1 - 1.5 IQR, Q3 + 1.5 IQR에서 벗어나는 영역을 이상치라고 판단함 (Q1은 데이터의 25%, Q3는 데이터의 75% 지점임)
- 표준편차1.5방식: 평균으로부터 '표준편차1.5'를 벗어나는 영역을 이상치라고 판단함

In [42]:
df3 = df.copy()

# quantile을 사용하여 Q3와 Q1을 구하고 IQR 계산

In [45]:
Q3 = df3['age'].quantile(0.75)
Q1 = df3['age'].quantile(0.25)
IQR = Q3 - Q1

# IQR 방식으로 판단한 이상치 수 계산

In [47]:
num_IQR_outlier = len(df['age'][(df['age'] > Q3 + 1.5*IQR) | (df['age'] < Q1 - 1.5*IQR)])

# 1.5std 방식으로 판단한 이상치 수 계산

In [50]:
num_std_outlier = len(df['age'][(df['age'] > df['age'].mean() + 1.5*df['age'].std()) | (df['age'] < df['age'].mean() - 1.5*df['age'].std())])

# 두 이상치 수 더하기

In [51]:
print(num_IQR_outlier + num_std_outlier)

14