<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/%EC%8B%9C%EA%B3%84%EC%97%B4%EB%8D%B0%EC%9D%B4%ED%84%B0_to_datetime_set_index_resample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오. (절대값)

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 106kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 12.2MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/content/basic2.csv')

In [6]:
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

---------

# Date를 to_datetime을 활용하여 시계열 데이터로 변환

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB

In [14]:
df['Date'] = pd.to_datetime(df['Date'])

--------

# Date를 인덱스로 설정

In [21]:
df = df.set_index('Date')

In [22]:
df

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0
...              ...     ...     ...     ...
2023-12-27  33846609  415067  7360.0       1
2023-12-28   3659566  208601  2262.0       1
2023-12-29   1164008   14309   193.0       0
2023-12-30   3977696   60935     NaN       0
2023-12-31   3719764   60963  1507.0       0

[730 rows x 4 columns]

--------

# 시계열 인덱스를 주 단위의 합계로 resample 진행

In [23]:
df_w = df.resample('W').sum()

In [24]:
df_w

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1
...              ...      ...      ...     ...
2023-12-03  47120909   884734  12086.0       2
2023-12-10  46398053   975024  21872.0       3
2023-12-17  20763518   291261  17221.0       0
2023-12-24  34528035   901451  11732.0       2
2023-12-31  51435189   813019  12168.0       2

[105 rows x 4 columns]

--------

# 주 단위의 Sales 중 가장 큰 값과 작은 값의 차이 계산

In [25]:
diff = (df_w['Sales'].max() - df_w['Sales'].min())
print(diff)

91639050