<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/%EC%8B%9C%EA%B3%84%EC%97%B4%EB%8D%B0%EC%9D%B4%ED%84%B0_to_datetime_dayofweek_apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 110kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 14.0MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/content/basic2.csv')

------

# to_datetime()으로 Date 변환

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

------

# Date에서 날짜 데이터 및 dayofweek으로 몇 번째 날인지 추출

In [11]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['DayOfWeek'] = df['Date'].dt.dayofweek

In [12]:
df

          Date     Sales      PV      UV  Events  Year  Month  Day  DayOfWeek
0   2022-01-01  22711525  397349  4421.0       1  2022      1    1          5
1   2022-01-02     36779    3969  2289.0       0  2022      1    2          6
2   2022-01-03  13943875  373890     NaN       1  2022      1    3          0
3   2022-01-04   8088593  142054  2157.0       0  2022      1    4          1
4   2022-01-05   2395374  190684     NaN       0  2022      1    5          2
..         ...       ...     ...     ...     ...   ...    ...  ...        ...
725 2023-12-27  33846609  415067  7360.0       1  2023     12   27          2
726 2023-12-28   3659566  208601  2262.0       1  2023     12   28          3
727 2023-12-29   1164008   14309   193.0       0  2023     12   29          4
728 2023-12-30   3977696   60935     NaN       0  2023     12   30          5
729 2023-12-31   3719764   60963  1507.0       0  2023     12   31          6

[730 rows x 9 columns]

-------

# 여섯 번째 날 (5)과 일곱 번째 날 (6)을 주말로 분류, 나머지는 False

In [16]:
df['Weekend'] = df['DayOfWeek'].apply(lambda x : x > 4, 1, 0)

In [17]:
df

,Date,Sales,PV,UV,Events,Year,Month,Day,DayOfWeek,Weekend
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,True
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,True
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,False
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,False
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,False
...,...,...,...,...,...,...,...,...,...,...
725,2023-12-27,33846609,415067,7360.0,1,2023,12,27,2,False
726,2023-12-28,3659566,208601,2262.0,1,2023,12,28,3,False
727,2023-12-29,1164008,14309,193.0,0,2023,12,29,4,False
728,2023-12-30,3977696,60935,NaN,0,2023,12,30,5,True
729,2023-12-31,3719764,60963,1507.0,0,2023,12,31,6,True

-------

# 2022년 5월의 주말 Sales 데이터 평균과 2022년 5월의 평일 Sales 데이터 평균을 구하고 차이 구하기

In [18]:
weekday_mean = df['Sales'][(df['Year'] == 2022) & (df['Month'] == 5) & (df['Weekend'] == False)].mean()
weekend_mean = df['Sales'][(df['Year'] == 2022) & (df['Month'] == 5) & (df['Weekend'] == True)].mean()

In [19]:
print(weekday_mean)
print(weekend_mean)
print(round(abs(weekday_mean - weekend_mean), 2))

3683611.4545454546
6693950.555555556
3010339.1